<span class="glyphicon glyphicon-off" aria-hidden="true"></span>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

<button type="button" class="btn btn-danger btn-sm">
  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-success btn-sm">
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
</button>
