<div class="content">

    <button ng-click="order = 'name'">Order by Name</button>
    <button ng-click="order = 'belt'">Order by Belt</button>

    <input type="text" ng-model="search" placeholder="Search for ninja">

    <ul id="ninja-list">
        <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
            <img class="img-circle" ng-src="{{ninja.thumb}}" ng-show="ninja.thumb" alt="" style="margin: -12px 10px 0 0; float: left; width: 50px;"/>
            <h3>{{ninja.name | lowercase}} - {{ninja.rate | currency: '£'}}</h3>
            <div class="remove" ng-click="removeNinja(ninja)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></div>
            <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}}belt</span>
        </li>
    </ul>

    <!-- FORM -->

    <form ng-submit="addNinja()">
        <input type="text" placeholder="name" ng-model="newninja.name">
        <input type="text" placeholder="belt" ng-model="newninja.belt">
        <input type="text" placeholder="rate" ng-model="newninja.rate">
        <input type="submit" value="Add new ninja">
    </form>

</div>
